ENVIRONMENT=dev

DATA_PATH="./data"
SHARED_DATA_PATH="${DATA_PATH}/shared"

TELEMETRY_EVENTS_TESTING_PATH="${DATA_PATH}/test"

OUTPUT_PATH="./output"
OUTPUT_RUNTIME_PATH="${OUTPUT_PATH}/runtime"

DATA_PREPARATION_STEP_OUTPUT_FILENAME="data_preparation"
DECISION_MAKER_STEP_OUTPUT_FILENAME="decisions"

K_MEANS_MODEL_PATH="${SHARED_DATA_PATH}/k-means_1783867513_before_errors_mentioned.pkl"
